// primary
$primary-10: #0095fa;
$primary-100: #0086e1;
$primary-200: #0077c8;
$primary-300: #0068af;
$primary-400: #005996;
$primary-500: #004b7d;
$primary-600: #003c64;
$primary-700: #002d4b;
$primary-800: #001e32;
$primary-900: #000f19;
$primary-1100: #19a0fb;
$primary-1200: #33aafb;
$primary-1300: #4db5fc;
$primary-1400: #66bffc;
$primary-1500: #80cafd;
$primary-1600: #99d5fd;
$primary-1700: #b3dffe;
$primary-1800: #cceafe;
$primary-1900: #e6f4ff;

// secondary
$secondary-30: #0f2640;
$secondary-100: #0e223a;
$secondary-200: #0c1e33;
$secondary-300: #0b1b2d;
$secondary-400: #091726;
$secondary-500: #081320;
$secondary-600: #060f1a;
$secondary-700: #050b13;
$secondary-800: #03080d;
$secondary-900: #010406;
$secondary-1100: #273c53;
$secondary-1200: #3f5166;
$secondary-1300: #576779;
$secondary-1400: #6f7d8c;
$secondary-1500: #8793a0;
$secondary-1600: #9fa8b3;
$secondary-1700: #b7bec6;
$secondary-1800: #cfd4d9;
$secondary-1900: #e7e9ec;

//background
$background-60: #000a11;
$background-90: #0f1e29;
$background-80: #142837;
$background-70: #193344;
$background-190: #070f14;
$background-180: #050a0d;
$background-170: #030507;

//error
$error: #ed5151;
$error-125: #b23d3d;
$error-75: #f27d7d;
$error-50: #f6a8a8;
$error-25: #fbd4d4;

//success
$success: #0aba6e;
$success-125: #088c53;
$success-75: #47cb92;
$success-50: #85ddb7;
$success-25: #c2eedb;

//warning

$warning-750: #3b2811;
$warning: #eb9f45;
$warning-750: #3b2811;
$warning-125: #b07734;
$warning-75: #f0b774;
$warning-50: #f5cfa2;
$warning-25: #fae7d1;

//info
$info: #266bd2;
$info-125: #1d509e;
$info-75: #5c90dd;
$info-50: #93b5e9;
$info-25: #c9daf4;

// global colors
$white: #ffffff;
$black: #000000;
