.wrapper {
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px 10px 10px;
  border-radius: 8px;
  background-color: #f3f2f7;

  &__title {
    color: #2b2b2b;
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__item {
      cursor: pointer;
      background-color: #ffffff;
      border-radius: 3px;
      padding: 15px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__date {
        color: #558fe3;
      }

      &__icon {
        width: 15px;
        height: 15px;

        path {
          fill: #558fe3 !important;
        }
      }
    }
  }
}
